* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

html,
body {
  font-family: -apple-system, Roboto, sans-serif;
  line-height: 1.3;
  color: #333;
  background: #eee;
}

#app {
  transform: translate3d(0, 2rem, 0);
  transition: 0.5s ease-in-out;
  min-width: 43rem; //fix
  max-width: 90rem;
  opacity: 0;
}

#input-container {
  transform: translate3d(-100%, 0, 0);
  transition: 0.5s ease-in-out;
}

.loaded#app,
.loaded#input-container {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

h6 {
  color: silver;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}

.inconsolata {
  font-family: Inconsolata;
}

#app {
  position: fixed;
  padding: 2rem 3rem;
  padding-top: 4rem;
  width: calc(100% - 20rem);
  margin-left: 20rem;
  overflow: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

#input-container {
  position: fixed;
  width: 20rem;
  background: #2e2e2e;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05), 3px 0 5px 3px rgba(0, 0, 0, 0.05);
}

#inputs {
  padding: 2rem 1rem;
}

.active-combination {
  width: 100%;
  background: #3e3e3e;
  &__item {
    display: inline-block;
    width: 33.33%;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.75rem 0;
    border-right: 1px solid #585858;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
    &:hover {
      background: #363636;
    }
    &.is-active {
      background: #2e2e2e;
      border-bottom: 1px solid transparent;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
  }
  &__identifier {
    font-weight: bold;
    margin-bottom: 0.0625rem;
  }
  &__count {
    font-size: 0.5rem;
    color: #bbb;
  }
}

#credits {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20rem;
  z-index: 3;
  color: #888;
  padding: 0.5rem 1rem;
  border-top: 1px solid #323232;
  background: #1c1c1c;
  font-size: 0.75rem;
}

#credits a {
  color: #888;
}

label {
  display: block;
  font-size: 0.5rem;
  letter-spacing: 0.25px;
  margin-left: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.375rem;
  color: #ddd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.typography {
  max-width: 40rem;
  margin: 0 auto;
  &__item {
    background: white;
    padding: 3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 5px 3px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.typography-identifier {
  color: #aaa;
  margin-bottom: 0.75rem;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  &:after {
    clear: both;
    display: table;
    content: '';
    height: 0;
  }
  &__text {
    text-align: left;
    float: left;
  }
  &__select {
    text-align: right;
    float: right;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/////// selectize
textarea,
.selectize-input {
  padding: .55rem;
  background: #222;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 0.75rem;
  color: #fff;
  width: 100%;
  border-radius: 1px;
  cursor: text;
}

.selectize-input.has-items {
  padding: .25rem;
}

.selectize-input .item {
  position: relative;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.3rem 0.5rem;
  padding-right: 1.5rem; // x button
  margin: 0.2rem;
  border-radius: 2px;
  background: #2e2e2e;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  color: #f5f5f5;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  background-blend-mode: overlay;
  cursor: pointer;
}

.selectize-input .item:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
  background-blend-mode: overlay;
}

.selectize-input .item a {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  text-decoration: none;
  text-align: center;
  border-radius: 0 2px 2px 0;
  font-size: 0.1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: #888;
  padding: 0;
  background: #2e2e2e;
  line-height: 22px; // hack
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), transparent);
}

.selectize-input .item a:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
  background-blend-mode: overlay;
}

.selectize-input .item.active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background: #3689e9;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}

.selectize-control.multi .selectize-input .item.active a {
  background: #3689e9;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
  color: rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
}

.selectize-input > input {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  margin-bottom: 0;
  font-size: 0.75rem;
  padding: 0;
  font-size: 0.75rem;
  color: #eee;
  text-shadow: 0px 0px 0px #eee;
  -webkit-text-fill-color: transparent;
  &:focus {
    outline: none;
  }
}

textarea {
  color: #ddd;
  height: 10rem;
  resize: none;
}

textarea:focus {
  outline: none;
}

.selectize-dropdown {
  font-size: 0.75rem;
  color: #fff;
  background: #333;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.selectize-dropdown .option,
.selectize-dropdown .create {
  padding: 0.5rem;
}

.selectize-dropdown .active {
  background: hsl(212, 82%, 60%);
  color: white;
}

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(0, 0, 0, 0.15);
}

.element-on-focus {
  outline: 1px solid rgba(0, 0, 0, 0.1)
}

@media screen and (min-width: 100em) {
  #app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .typography {
    margin: 1%;
    width: 48%;
    max-width: 100%;
  }
}

@media screen and (max-width: 45em) {
  html,
  body {
    width: auto;
    height: auto;
  }
  h1 {
    font-size: 2rem;
  }
  #header,
  #input-container,
  #app,
  #credits,
  .active-combination {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  #app {
    padding: 2rem;
    margin-top: 4rem;
    padding: 0;
    min-width: auto;
    transition: none;
  }
  #input-container {
    padding-top: 0;
  }
  #credits {
    background: none;
    border: none;
    padding: 1rem 2rem;
  }
  ,
  #header {
    padding: 2rem;
  }
  .typography-identifier {
    padding: 0 1rem;
  }
  .typography-item {
    padding: 2rem;
  }
  .typography-identifier__text {
    text-align: left;
    float: none;
  }
  .typography-identifier__select {
    text-align: left;
    float: none;
  }
}
